/*===variables=======*/
$font-first: "Rokkitt", "serif";
$font-second: "Verdana", "cursive";
$color-one: #221343;
$color-two: rgb(231, 9, 9);
$color-three: #075606;
$color-fourth: green;
$color-white: #fff;
$color-black: #333;

/*==============base-screen=======================*/
body {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 680px;
  display: flex;
  flex-direction: column;
}
/*==================mode dark ==========================*/

.dark {
  background-color: #333;
  color: $color-white;

  h1,
  legend,
  a {
    color: white;
  }
}
.boton {
  position: absolute;
  right: 1px;
  top: 13px;
  font-size: 17px;
  border: none;
  background-color: $color-white;
}

/*===========================================================*/

header {
  text-align: center;
  position: relative;
  /*====================navbar-responsive===============*/
  & nav {
    font-family: $font-first;
    font-size: 2em;
    margin-top: 30px;
    border-radius: 10px;
    & ul li {
      list-style: none;
    }
    & a {
      text-decoration: none;
      color: $color-one;
      font-weight: 800;
    }
  }

  & h1 {
    font-family: $font-second;
    color: $color-one;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $color-three;
    font-size: 3em;
  }
  & p {
    font-size: 1.4em;
    font-family: $font-first;
  }
}

form {
  display: block;
  & fieldset {
    border: 3px double $color-three;
    border-radius: 10px;
  }
  & legend {
    text-align: center;
    font-size: 1.8em;
    font-family: $font-first;
    color: $color-one;
  }
}
label {
  font-family: $font-second;
}
.one {
  display: flex;
  flex-direction: column;

  & input {
    width: 98%;
    height: 2em;
    margin-right: 10px;
    border-radius: 0.8em;
    &:required {
      border-left: 6px solid $color-two;
    }
    &:required:valid {
      border-left: 6px solid $color-fourth;
    }
  }
}
.two {
  display: flex;
  gap: 5px;
  & input {
    width: 20px;
  }
}
.btnsubmit {
  width: 70%;
  height: 25px;
  font-size: 21px;
  height: 1.5em;
  border-radius: 0.8em;
  margin-top: 10px;
  margin-left: 15%;
  background: $color-one;
  color: $color-white;
  margin-bottom: 15px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 3px double $color-three;
  border-radius: 0.7em;
  height: 30px;
  & p {
    font-size: 18px;
    font-family: $font-second;
  }
}

/*================== section======================*/

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:nth-child(n) {
    text-align: center;
    font-size: 40px;
  }
  & h1 {
    font-family: $font-first;
    color: $color-two;
    font-size: 3em;
  }
  & h4 {
    font-family: $font-second;
    color: $color-one;
  }
}
.fondo {
  //background-color: #f8f7e0;
  background-image: radial-gradient(
      circle,
      #d0bdf8 10%,
      transparent 0.2em,
      #f9bfc4 40%,
      transparent 0.1em
    ),
    linear-gradient(
      -130deg,
      #d7fdd7 20%,
      transparent 0.2em,
      #996bfc 10%,
      transparent 0.1em
    );
  background-size: 15px 15px;
  background-position: 0 0, 0 0, 3em, 3em;
}
.barra {
  display: none;
}
/*================hamburger-bar==============*/

@media (max-width: 560px) {
  .menu {
    position: absolute;
    top: 10px;
    margin-left: 10px;
    cursor: pointer;
    &::before {
      content: url("../images/iconoAbrir.ico");
      font-weight: 700;
      font-size: 20px;
      background-color: white;
    }
    &.close::before {
      content: url("../images/cerrado.ico");
    }
  }

  .barra.open {
    display: block;
  }
  h1 {
    font-size: 2.5em;
  }
}

/*======================large-screen=============*/
@media (min-width: 600px) {
  .barra {
    display: flex;
    justify-content: space-evenly;
  }

  nav {
    text-align: center;
  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
