/*=====================variables of project=====================*/
@font-face {
  font-family: yo;
  src: url("../css-garden/fonts/Hargalia1.otf");
}
@font-face {
  font-family: Handlee;
  src: url("../css-garden/fonts/Reno.otf");
}
h1 {
  font-family: "yo", cursive;
  letter-spacing: 2px;
  font-size: 3.5em;
  color: #c43302;
  padding: 10px;
}

h2,
h3 {
  font-family: "yo", "Courier New", Courier, monospace;
  color: #010221;
  font-size: 2.2em;
  margin: 10px;
}

p {
  font-family: "Handlee", "Courier New", Courier, monospace;
  font-size: 1.2em;
  font-weight: 600;
  padding: 5px;
}

a {
  font-family: "yo";
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
a:hover {
  color: #010221;
  font-weight: 600;
  font-size: 22px;
}

li {
  list-style-type: none;
}

abbr {
  color: #010221;
  font-weight: 600;
}

div {
  padding: 8px;
}

/*============= here I going to create some mixins and extends for my project===============*/
/*================mixin images before and after in H1============================*/
/*=======================mixin border of H2 width linear-gradient ===============*/
/*======================= changes of colors and borders in H1 ====================*/
/*============================ hover over images===========================*/
/*===============base-screen ======================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 7px;
  background-color: #b7bf99;
  background-image: radial-gradient(circle, #bee0f8 0.1em, transparent 0.1em, #a2f86d 0.1em, transparent 0.2em), linear-gradient(-135deg, #c99bf6 25%, transparent 0.1em, #fff 40%, transparent 0.1em), linear-gradient(#bee0f8 20%, transparent 0.1em, #a2f86d 22%, transparent 0.2em);
  background-size: 6px 6px;
  background-position: 0 0, 0 0, 2em, 2em;
}

.page-wrapper {
  border: 5px double #edaa25;
  border-radius: 10px;
  background-color: hsl(117, 79%, 94%);
}

h1 {
  display: block;
  font-weight: 900;
  animation: colors 4s ease infinite;
  transition: 2s ease-out;
}
@keyframes colors {
  0% {
    -webkit-text-stroke: 0.1px #edaa25;
  }
  50% {
    -webkit-text-stroke: 0.1px #c43302;
  }
  100% {
    -webkit-text-stroke: 0.1px #edaa25;
  }
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
h2::before {
  content: "";
  border-top: 2px ridge transparent;
  background: linear-gradient(to left, #b7bf99, #edaa25, #0a7373);
  width: 100%;
  height: 2px;
}
h2::after {
  content: "";
  border-top: 2px double transparent;
  background: linear-gradient(to left, #b7bf99, #edaa25, #0a7373);
  width: 100%;
  height: 2px;
  margin-top: 12px;
}

h3 {
  transition: ease-in 1s;
}
h3:hover {
  text-shadow: #b7bf99 4px 3px;
  -webkit-text-stroke: 0.1px #0a7373;
  font-size: 45px;
  transition: ease-in-out 1s;
}

h1,
h2,
h3,
ul,
p {
  text-align: center;
}

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
footer a {
  font-size: 23px;
  font-weight: 800;
  font-family: "Handlee";
  background: linear-gradient(to bottom, #edaa25, #c43302);
  display: grid;
  align-items: center;
  width: 90px;
  height: 40px;
}
footer a:hover {
  border: 4px double #010221;
  background: #fff;
  color: #000;
  border-radius: 30% 4% 30% 4%;
}

/*=========================================================================*/
/*========================mediun-screen===================================*/
/*========================================================================*/
@media (min-width: 40em) {
  body {
    display: block;
    max-width: 980px;
    height: auto;
    margin-top: 10px;
  }
  .page-wrapper {
    display: block;
  }
  .intro {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "hea hea hea hea" "sum prea prea prea";
  }
  header {
    grid-area: hea;
  }
  header h2 {
    text-align: center;
  }
  header h1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
  }
  header h1::before {
    content: "";
    width: 100px;
    height: 100px;
    background-image: url(images/lilas3.webp);
    border-radius: 30% 7% 30% 2%;
  }
  header h1::after {
    content: "";
    width: 100px;
    height: 100px;
    background-image: url(images/lilas3.webp);
    border-radius: 30% 7% 30% 2%;
  }
  header h1:hover {
    font-size: 0px;
    background: url(./images/huerta.webp) no-repeat center;
  }
  .summary {
    grid-area: sum;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-self: end;
    border: 5px ridge #b7bf99;
    border-radius: 15% 7px 20% 7px;
  }
  .preamble {
    grid-area: prea;
  }
  .main {
    display: grid;
    grid-template-columns: repeat(auto-fit minmax(200px, 1fr));
    grid-template-areas: "ex ex par par" "req req req req" "req req req req" "ben ben foo foo";
  }
  .main div:nth-child(1) {
    grid-area: ex;
  }
  .main div:nth-child(1) p:last-child {
    display: flex;
    flex-direction: column;
  }
  .main div:nth-child(1) p:last-child::after {
    content: "";
    width: 100px;
    height: 100px;
    background-image: url(./images/tomate1.webp);
    border-radius: 30% 7% 30% 2%;
  }
  .main div:nth-child(1) p:last-child::after {
    display: flex;
    align-self: end;
  }
  .main div:nth-child(2) {
    grid-area: par;
  }
  .main div:nth-child(3) {
    grid-area: ben;
  }
  .main div:nth-child(4) {
    grid-area: req;
  }
  .main footer {
    grid-area: foo;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .main footer a {
    grid-column: 2/2;
    width: 90px;
    height: 40px;
    text-align: center;
    margin: 4px;
    border-radius: 10px;
  }
  .main footer::after {
    content: "";
    width: 100px;
    height: 100px;
    background-image: url(./images/tomate1.webp);
    border-radius: 30% 7% 30% 2%;
  }
  .main footer::after {
    display: grid;
    grid-column: 1/1;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit minmax(150px, 1fr));
    grid-template-areas: "d-s d-a" "d-s z-r";
  }
  .wrapper div:nth-child(1) {
    grid-area: d-s;
  }
  .wrapper div:nth-child(2) {
    grid-area: d-a;
  }
  .wrapper div:nth-child(3) {
    grid-area: z-r;
  }
}

/*# sourceMappingURL=styles.css.map */
