$font-one: "Rokkitt", "sans serif";
$font-second: "lucida calligraphy", "cursive";
$color-first: #010221;
$color-second: #0a7373;
$color-three: hsl(124, 58%, 89%);
$color-four: #c43303;
$color-white: #fff;
$color-black: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background-image: url(images/nubes.png), url(images/planet2.png),
    url(images/jupiter.png), url(images/cohete1.png), url(images/satelite.png);
  background-repeat: no-repeat;
  background-position: 7% 5%, 3% 51%, 90% 95%, 93% 30%, 3% 80%;
  background-size: 150px 150px;
}
.wrapper {
  background-color: $color-white;

  border-radius: 10px;
  margin: 10px;
}
/*==================mode dark ==========================*/

.dark {
  background-color: $color-black;
  color: $color-white;
  & .barra a {
    color: $color-white;
  }
  .box section img,
  .weather {
    border: 5px double $color-white;
  }
  .wrapper {
    background-color: $color-black;
  }
  footer {
    border: 2px solid $color-white;
  }
}

/*==============================================*/
header {
  border-bottom: 1px solid $color-black;
}

ul:nth-child(n) {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  & li {
    list-style: none;
    padding: 6px;
    & a {
      text-decoration: none;
      font-family: $font-one;
      font-size: 28px;
      color: #010221;
      border: 2px solid transparent;
      border-radius: 10px;
      padding: 1px 6px;
      transition: border 1s ease-in-out;

      &:hover {
        background-color: $color-three;
        border: 2px solid $color-second;
        border-radius: 10px;
        color: $color-first;
        padding: 1px 6px;
      }
    }
  }
}
.boton {
  position: absolute;
  top: 25px;
  left: 20px;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h1 {
    font-family: $font-second;
    margin-top: 20px;
  }
  & .weather {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
    gap: 10px;
    font-family: $font-second;
    border: 6px double $color-four;
    border-radius: 10%;
    padding: 10px;
    & .icon {
      border: 2px solid $color-three;
      border-radius: 5%;
      padding: 1px;
    }
  }

  & .box section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h3,
    h5 {
      font-family: $font-second;
      font-size: 23px;
      padding: 6px;
    }
    & img {
      border: 6px double $color-black;
      padding: 5px;
      border-radius: 10px;
    }
    & p {
      font-family: $font-one;
      font-size: 20px;
      padding: 5px;
      margin-bottom: 8px;
      border-bottom: 1px ridge $color-black;
    }
  }
}
footer {
  width: 90%;
  font-family: $font-one;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  position: relative;
  left: 3%;
  border: 3px double $color-four;
  border-radius: 10px;
  padding: 3px;
  margin: 7px 10px 7px 10px;
}
