* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background-image: url(images/nubes.png), url(images/planet2.png), url(images/jupiter.png), url(images/cohete1.png), url(images/satelite.png);
  background-repeat: no-repeat;
  background-position: 7% 5%, 3% 51%, 90% 95%, 93% 30%, 3% 80%;
  background-size: 150px 150px;
}

.wrapper {
  background-color: #fff;
  border-radius: 10px;
  margin: 10px;
}

/*==================mode dark ==========================*/
.dark {
  background-color: #333;
  color: #fff;
}
.dark .barra a {
  color: #fff;
}
.dark .box section img,
.dark .weather {
  border: 5px double #fff;
}
.dark .wrapper {
  background-color: #333;
}
.dark footer {
  border: 2px solid #fff;
}

/*==============================================*/
header {
  border-bottom: 1px solid #333;
}

ul:nth-child(n) {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
ul:nth-child(n) li {
  list-style: none;
  padding: 6px;
}
ul:nth-child(n) li a {
  text-decoration: none;
  font-family: "Rokkitt", "sans serif";
  font-size: 28px;
  color: #010221;
  transition: background-color 1s ease-in;
}
ul:nth-child(n) li a:hover {
  background-color: hsl(124, 58%, 89%);
  border: 2px solid #0a7373;
  border-radius: 10px;
  color: #010221;
  padding: 1px 6px;
}

.boton {
  position: absolute;
  top: 25px;
  left: 20px;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main h1 {
  font-family: "lucida calligraphy", "cursive";
  margin-top: 20px;
}
main .weather {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
  gap: 10px;
  font-family: "lucida calligraphy", "cursive";
  border: 6px double #c43303;
  border-radius: 10%;
  padding: 10px;
}
main .weather .icon {
  border: 2px solid hsl(124, 58%, 89%);
  border-radius: 5%;
  padding: 1px;
}
main .box section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .box section h3,
main .box section h5 {
  font-family: "lucida calligraphy", "cursive";
  font-size: 23px;
  padding: 6px;
}
main .box section img {
  border: 6px double #333;
  padding: 5px;
  border-radius: 10px;
}
main .box section p {
  font-family: "Rokkitt", "sans serif";
  font-size: 20px;
  padding: 5px;
  margin-bottom: 8px;
  border-bottom: 1px ridge #333;
}

footer {
  width: 90%;
  font-family: "Rokkitt", "sans serif";
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  position: relative;
  left: 3%;
  border: 3px double #c43303;
  border-radius: 10px;
  padding: 3px;
  margin: 7px 10px 7px 10px;
}

/*# sourceMappingURL=style.css.map */
