@use "variables" as *;
@use "atoms" as a;

/*============= here I going to create some mixins and extends for my project===============*/

/*================mixin images before and after in H1============================*/
@mixin before($image: url(images/lilas3.wep)) {
  &::before {
    content: "";
    width: 100px;
    height: 100px;
    background: $image;
    border-radius: 30% 7% 30% 2%;
  }
}

@mixin after($image: url(images/lilas3.webp)) {
  &::after {
    content: "";
    width: 100px;
    height: 100px;
    background-image: $image;
    border-radius: 30% 7% 30% 2%;
  }
}
/*=======================mixin border of H2 width linear-gradient ===============*/
@mixin borders {
  &::before {
    content: "";
    border-top: 2px ridge transparent;
    background: linear-gradient(to left, $color-three, $color-four, $color-two);
    width: 100%;
    height: 2px;
  }
  &::after {
    content: "";
    border-top: 2px double transparent;
    background: linear-gradient(to left, $color-three, $color-four, $color-two);
    width: 100%;
    height: 2px;
    margin-top: 12px;
  }
}
/*======================= changes of colors and borders in H1 ====================*/
@mixin colors {
  @keyframes colors {
    0% {
      -webkit-text-stroke: 0.1px $color-four;
    }

    50% {
      -webkit-text-stroke: 0.1px $color-five;
    }

    100% {
      -webkit-text-stroke: 0.1px $color-four;
    }
  }
}
/*============================ hover over images===========================*/

@mixin orchard {
  &:hover {
    font-size: 0px;

    background: url(/css-garden/images/huerta.webp) no-repeat center;
  }
}
